.footer-child1,
.footer-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: ffffff;
  width: 1440px;
  height: 393px;
}
.footer-child1 {
  top: 600px;
  left: 1641.9px;
  filter: blur(70px);
  border-radius: 100%;
  background-color: #D5AEE4;
  width: 278.9px;
  height: 400.9px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  opacity: 0.8;
}
.koson-technology5 {
  text-decoration: underline;
}
.koson-technology4 {
  color: #878787;
}
.powered-by-koson-technology2 {
  margin: 0;
}
.powered-by-koson-technology-container2 {
  position: absolute;
  top: 335.6px;
  left: 64px;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  width: 1257.9px;
  height: 33.8px;
  color: #878787;
  font-size: 14px;
}
.more2 {
  position: relative;
  line-height: 120%;
}
.blank-line9,
.bookmark2,
.featured-locations2 {
  margin: 0;
}
.bookmark-featured-locations-container2 {
  position: relative;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.frame2 {
  position: absolute;
  top: 0;
  left: 852px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px; 
}

.group-child2,
.group-child3,
.group-child4 {
  position: absolute;
  top: 38.6px;
  left: 89px;
  border-radius: 3px; 
  background-color: #fff0f5; 
  width: 84px;
  height: 12px; 
}

.group-child3,
.group-child4 {
  top: 0;
  left: 163px;
  width: 20px;
}

.group-child4 {
  top: 38.6px;
  left: 0;
}

.jian-travel3 {
  position: absolute;
  top: 7px;
  left: 8px;
  line-height: 125%; 
  font-weight: 800;
  display: inline-block;
  width: 166px;
  font-size: 32px;
}

.company-desc1,
.rectangle-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 183px;
  height: 50px; 
}

.company-desc1 {
  top: 106px; 
  font-size: 20px;
  color: #000000;
  font-family: 'Prompt', sans-serif; 
}
.dbe-7c0a-4747-8ab8-fce5031ac30-icon4 {
  position: absolute;
  top: 0;
  left: 32px;
  width: 113px;
  height: 106.2px;
  object-fit: cover;
}
.dbe-7c0a-4747-8ab8-fce5031ac30-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 104px;
  height: 106px;
  object-fit: cover;
}
.navigation2 {
  position: relative;
  line-height: 120%;
}
.about-us4,
.blank-line10,
.blank-line11,
.blog2,
.terms-of-use2 {
  margin: 0;
}.about-us-blog-container2 {
  position: relative;
  font-size: 16px; 
  line-height: 140%;
  color: #000000;
}

.navigation-group {
  position: absolute;
  top: 0;
  left: 386px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px; 
}

.help2 {
  position: relative;
  line-height: 120%;
  font-size: 20px;
}

.blank-line12,
.faqhelp2,
.privacy-policy2 {
  margin: 0;
}

.faqhelp-privacy-policy-container2 {
  position: relative;
  line-height: 140%;
  color: #000000;
}

.frame3 {
  position: absolute;
  top: 0;
  left: 613px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px; 
  font-size: 16px;
}

.frame-parent8 {
  position: absolute;
  top: 79px;
  left: 69px;
  width: 999px;
  height: 175px;
  font-size: 20px;
  color: #ff0000; 
}

.discover-more2 {
  position: absolute;
  top: 133px;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 124.5%;
  font-weight: 500;
  display: inline-block;
  width: 185px;
  font-size: 24px;
  color: #5E6282;
}
.image-31-icon2 {
  position: absolute;
  top: 79px;
  left: 89px;
  width: 50px;
  height: 44.8px;
  object-fit: cover;
}
.image-32-icon2,
.image-33-icon2,
.image-34-icon2 {
  position: absolute;
  top: 11.3px;
  left: 79px;
  width: 69px;
  height: 51.8px;
  object-fit: cover;
}
.image-33-icon2,
.image-34-icon2 {
  top: 0;
  left: 0;
  width: 80px;
  height: 75.4px;
}
.image-34-icon2 {
  top: 77px;
  left: 14px;
  width: 48px;
  height: 47.3px;
}
.group-frame,
.image-31-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 148px;
  height: 124.3px;
}
.group-frame {
  left: 13px;
}
.discover-more-group {
  position: absolute;
  top: 79px;
  left: 1199px;
  width: 185px;
  height: 164px;
  font-size: var 32px;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}
.footer1 {
  position: absolute;
  top: 1535px;
  left: 0;
  width: 1671.9px;
  height: 750.9px;
}
.dbe-7c0a-4747-8ab8-fce5031ac30-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 104px;
  height: 106px;
  object-fit: cover;
}
.tdesignuser2,
.vector-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.vector-icon2 {
  height: 100%;
  width: 20.83%;
  right: 79.17%;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.tdesignuser2 {
  width: 30px;
  height: 30px;
}
.vani2 {
  position: absolute;
  top: 8px;
  left: 54px;
  line-height: 14px;
  font-weight: 500;
}
.tdesignuser-container {
  position: absolute;
  top: 0;
  left: 54px;
  width: 90px;
  height: 30px;
}
.vector-container {
  position: absolute;
  height: 28.3%;
  width: 10.49%;
  top: 33.96%;
  right: 0;
  bottom: 37.74%;
  left: 89.51%;
}
.link-travel4 {
  cursor: pointer;
}
.link-travel4,
.link-travel5 {
  position: relative;
  line-height: 20px;
}
.link-blog2,
.link-travel2,
.link-travel3
.link-pages2 {
  cursor: pointer;
  display: inline-block;
  overflow-wrap: break-word;
}
.contact2,
.link-blog2,
.link-pages2 {
  position: relative;
  line-height: 20px;
}
.nav-item{
    margin: 25px 25px 0 5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Legend';
    font-weight: 100;
    font-size: 16px;
    line-height: 0.875;
    color: #000000;
    }
.collapse:not(.show) {
    display: none;
}
@media (min-width: 992px){
    .link-travel-group {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
}

.link-travel-container {
  position: absolute;
  top: 41px;
  left: calc(50% - 273.5px);
  width: 593px;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 590px; 
  text-align: left;
  color: #000000; 
}
.link-travel2 {
  cursor: pointer;
}
.link-blog1,
.link-pages1,
.link-travel2,
.link-travel3 {
  position: relative;
  line-height: 20px;
}
.link-blog1,
.link-pages1 {
  cursor: pointer;
}
.contact1 {
  position: relative;
  line-height: 20px;
 }
.link-travel-group {
  position: absolute;
  top: 10px;
  left: calc(50% - 278.5px);
  width: 593px;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 56px;
}
.header-child,
.header3 {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 1373px;
  height: 106px;
}

.header-child {
  top: 46px;
  left: 1293px;
  border-radius: 50%;
  width: 35px;
  height: 32px;
  object-fit: cover;
}

.get-in-touch-item,
.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff; 
}

.header {
  width: 1440px;
  height: 143px;
  overflow: hidden;
  color: #000;
  font-family: Arial, sans-serif;
}
.tdesignuser1,
.vector-icon1 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.vector-icon1 {
  height: 93.75%;
  width: 20.83%;
  top: 6.25%;
  right: 79.17%;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.tdesignuser1 {
  top: 0;
  width: 30px;
  height: 30px;
}
.tdesignuser-group,
.vani1 {
  position: absolute;
  left: 54px;
}
.vani1 {
  top: 8px;
  line-height: 14px;
  font-weight: 500;
}
.tdesignuser-group {
  top: 2px;
  width: 90px;
  height: 30px;
  cursor: pointer;
}
.ellipse-icon {
  position: absolute;
  top: 0;
  left: 54px;
  border-radius: 50%;
  width: 35px;
  height: 32px;
  object-fit: cover;
}
.vector-group {
  position: absolute;
  height: 22.38%;
  width: 10%;
  top: 18%;
  right: 3.96%;
  bottom: 44.06%;
  left: 86.04%;
  text-align: center;
  color: #000;
}
.header1 {
  position: absolute;
  left: 10px;
  width: 1383px;
  height: 106px;
}
.contact-us3 {
  position: absolute;
  top: 0;   
  left: 0;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 226.8px;
  height: 36.9px;
}

.group-child1 {
  position: absolute;
  top: 44.5px;
  left: 0;
  border-radius: 50%;
  background-color: #8a2be2; 
  width: 170px;
  height: 2.5px;
}

.contact-us-parent {
  position: absolute;
  top: 0;
  left: 235px;
  width: 226.8px;
  font-size: 24px; 
  color: #8a2be2; 
}
.get-in-touch-item {
  box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);
  border-radius: 10px; 
  width: 1338px;
  left: 10px;
  height: 1241px;
}

.edit-profile {
  position: absolute;
  top: 0;
  left: 30.7px;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 171px;
  height: 45.2px;
}

.group-child5 {
  position: absolute;
  top: 53.6px;
  left: 0;
  border-radius: 5px;
  background-color: #8a2be2;
  width: 225.3px;
  height: 3.1px;
}

.edit-profile-parent,
.phone-child {
  position: absolute;
  top: 0;
  left: 191.3px;
  width: 225.3px;
  height: 56.7px;
}

.phone-child {
  top: 18.2px;
  left: 0;
  border-radius: 6px;
  border: 1.2px solid #c0c0c0; 
  box-sizing: border-box;
  width: 594.4px;
  height: 77.7px;
  background-color: #ffffff;
  color: #878787;
  font-size: 18px;
}

.div9 {
  position: absolute;
  top: 46px;
  left: 20px;
  display: inline-block;
  width: 243px;
  height: 11px;
  opacity: 0.8;
}

.group-child6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff; 
  width: 79px;
  height: 36px;
}

.phone2 {
  margin: 0;
}

.phone1,
.email2,
.password1,
.name3,
.username1 {
  position: absolute;
  top: 6px;
  left: 16px;
  background: #fff;
  width: 89px;
  font-weight:bold;
  color: #000000;
  height: 30px;
  opacity: 1;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: 14px;
  width: 105px;
  height: 36px;
  font-size: 16px;
}

.vector-icon3 {
  position: absolute;
  height: 31.28%;
  width: 5.05%;
  top: 42.75%;
  right: 2.93%;
  bottom: 25.96%;
  left: 92.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.password-child,
.phone{
  position: absolute;
  top: 344px;
  left: 0;
  width: 594.4px;
  height: 95.9px;
  background-color: #ffffff;
}

.password-child {
  height: 77.7px;
  top: 18.2px;
  left: 0;
  border-radius: 6px;
  border: 1.2px solid #c0c0c0; 
  box-sizing: border-box;
  width: 594.4px;
  height: 77.7px;
  background-color: #ffffff;
  color: #878787;
  font-size: 18px
}

.div10 {
  position: absolute;
  top: 45.8px;
  left: 20px;
  display: inline-block;
  width: 243px;
  height: 11px;
  opacity: 0.8;
}

.group-child7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff; 
  width: 100px;
  height: 36px;
}

.password2 {
  margin: 0;
}

.rectangle-parent4 {
  position: absolute;
  top: 0;
  left: 19px;
  width: 100px;
  height: 36px;
  font-size: 16px; 
}
.vector-icon4 {
  position: absolute;
  height: 31.35%;
  width: 5.05%;
  top: 42.84%;
  right: 2.93%;
  bottom: 25.81%;
  left: 92.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.name-inner,
.password {
  position: absolute;
  top: 463px;
  left: 1px;
  width: 594.4px;
  height: 95.7px;
}
.name-inner {
  top: 18.2px;
  left: 0;
  border-radius: 6px;
  border: 1.2px solid #c0c0c0; 
  box-sizing: border-box;
  width: 594.4px;
  height: 77.7px;
  background-color: #ffffff;
  color: #878787;
  font-size: 18px
}

.name-child1 {
  position: absolute;
  top: 0;
  left: 14.1px;
  background-color: #ffffff; 
  width: 78.9px;
  height: 35.8px;
}

.vani-ngoc-anh {
  position: absolute;
  top: 6px;
  left: 30px;
  display: inline-block;
  width: 63.4px;
  height: 29.5px;
  opacity: 0.8;
}

.vani-ngoc-anh {
  top: 41px;
  font-size: 16px; 
  color: #f5f5f5; 
  width: 245.1px;
}

.vector-icon5 {
  position: absolute;
  height: 31.65%;
  width: 5.05%;
  top: 43.25%;
  right: 2.93%;
  bottom: 25.11%;
  left: 92.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.name2,
.username-child {
  position: absolute;
  width: 594.4px;
}

.name2 {
  top: 0;
  left: 1px;
  height: 94.8px;
  font-size: 16px;
  color: #000000; 
}

.username-child {
  top: 18.2px;
  left: 0;
  border-radius: 6px;
  border: 1.2px solid #c0c0c0; 
  box-sizing: border-box;
  width: 594.4px;
  height: 77.7px;
  background-color: #ffffff;
  color: #878787;
  font-size: 18px
}

.vani123456 {
  position: absolute;
  top: 45px;
  left: 20px;
  display: inline-block;
  width: 278px;
  height: 29px;
  opacity: 0.8;
}

.group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 105px;
  height: 36px;
}
.rectangle-parent5 {
  position: absolute;
  top: 0;
  left: 14px;
  width: 105px;
  height: 36px;
  font-size: 16px; 
}
.button-item,
.username {
  position: absolute;
  top: 114px;
  left: 1px;
  width: 594.4px;
  height: 95.8px;
}
.button-item {
  top: 0;
  left: 0;
  border-radius: 4px; 
  background-color: #9370DB; 
  height: 77.7px;
}

.save-changes {
  position: absolute;
  top: 22px;
  left: 227px;
  display: inline-block;
  width: 140px;
  height: 34px;
}

.button3,
.email-item {
  position: absolute;
  left: 0;
  width: 594.4px;
  height: 77.7px;
}

.button3 {
  top: 600px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: 12px 24px; 
  background-color: #9370DB; 
  flex-direction: row;
  border-radius: 10px;
  gap: 6px; 
  white-space: nowrap;
}
.email-item {
  top: 18.2px;
  left: 0;
  border-radius: 6px;
  border: 1.2px solid #c0c0c0; 
  box-sizing: border-box;
  width: 594.4px;
  height: 77.7px;
  background-color: #ffffff;
  color: #878787;
  font-size: 18px
}

.ngocanh123556gmaicom {
  position: absolute;
  top: 46px;
  left: 20px;
  display: inline-block;
  width: 243px;
  height: 11px;
  opacity: 0.8;
}

.group-child9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff; 
  width: 79px;
  height: 36px;
}
.rectangle-parent6 {
  position: absolute;
  top: 0;
  left: 14px;
  width: 105px;
  height: 36px;
  font-size: 16px;
}
.vector-icon6 {
  position: absolute;
  height: 31.28%;
  width: 5.05%;
  top: 42.75%;
  right: 2.93%;
  bottom: 25.96%;
  left: 92.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.email1,
.phone-parent {
  position: absolute;
  top: 229px;
  left: 1px;
  width: 594.4px;
  height: 95.9px;
}
.phone-parent {
  position: absolute;
  top: 388.6px;
  left: 0;
  width: 595.4px;
  height: 677.7px;
  font-size: 18px; 
  color: #f0f0f0;
}

.group-parent1 {
  position: absolute;
  top: 76.4px;
  left: 365px;
  width: 595.4px;
  height: 1066.4px;
}

.get-in-touch1 {
  position: absolute;
  top: 120px;
  left: 50px;
  width: 1338px;
  height: 1241px;
  font-size: 32px; 
  color: #8a2be2;
  font-family: 'Inter', sans-serif;
}

.profile-child {
  position: relative;
  top: 290px;
  width: 236px;
  display: flex;
  left: 600px;
  align-items: center;
  overflow: hidden;
}
.avatar-image{
    width: 95%;
    height: 80%;
    border-radius: 50%;
    border: 2px solid #000;
    
}
.vector{
    margin-left: 170px;
    margin-top: -70px;
}
.profile {
  width: 100%;
  position: relative;
  background-color: #ffffff; 
  height: 1928px;
  overflow: hidden;
  text-align: left;
  font-size: 14px; 
  color: #f5f5f5; 
  font-family: 'Jakarta Sans', sans-serif;
}
.modal {
    position: fixed;
    top: 150px;
    left: 472px;
    width: 30%;
    background-color: #F2F0FF;
    z-index: 1000; 
    border-radius: 10px;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

.password-child {
    width: 100%;
    margin-bottom: 10px;
}

.show-password-icon {
    cursor: pointer;
}
form {
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
#password,
#confirm-password {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #9E96FD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #ad65f0;
}
.link-travel2:hover, .link-travel3:hover,
.link-pages1:hover, .link-blog1:hover,
.contact1:hover{
    color: #8a2be2;
}
p:hover{
    color: #8a2be2;
}
a{
    display: inline-block;
    color: #000;
    text-decoration: none !important;

}
.nav-link:hover{
    color: #8a2be2;
}
